  <body>
    <h2 style="text-align: center; font-size: 20; padding-top: 2%" >Meet the ITS Leadership Team</h2>
    <br><br><br>
    
    <div>
      <p style="text-align: center"><i>Tip: Click on each leader's name to find out more about their role.</i></p>
    </div>
    <br><br>
    
    <div class="container" style="overflow-x:auto;">
      <div class="row">
        <div class="col" >
          <div id="head_div" style="padding-left:10%; background-color:#cc0000; text-align: center;padding: 2%; ">
            <img  class="vishPic" alt="" src="https://bcxgallery.s3.us-east-2.amazonaws.com/Vish-min.jpg" style="width: 30%;">
            <div class="chief"> <b>Chief of IT Solutions</b> </div>
            <div class="vish"> Vish Rajpal </div>
            
            <div class="desc" style="color: white;"><br> Vish is the BCX Exco member who leads the IT Solutions Division and drives the strategic objectives and KPI’s with his leadership team.
            </div>
          </div>
        </div>
  <br>
      
      
  
  </div>
</div>

<div class="container" style="overflow-x:auto;">

  <table class="table">
    <tr>
      <td></td>
      <td></td>
      <td></td> 
      <td></td> 
    </tr>
    <tr>
      <th style="background-color:#e2e0db; text-align: center">Executive Support</th>
      <th style="background-color:#e2e0db; text-align: center" (click)="showMe(6)" data-toggle="modal" data-target="#myModal">Digital Edge<br><span style="font-weight: normal;" >Michael Barnard
 (acting)</span></th> 
      <th style="background-color:#E2E0DB; text-align: center" (click)="showMe(17)" data-toggle="modal" data-target="#myModal">Enterprise Application Solutions<br><span style="font-weight: normal;" > Shamalan Soobiah (acting)</span></th>
      <th style="background-color:#e2e0db; text-align: center">Specialised Solutions</th> 
      <th style="background-color:#E2E0DB; text-align: center" (click)="showMe(29)" data-toggle="modal" data-target="#myModal">Enterprise Cloud and Infrustructure Solutions<br><span style="font-weight: normal;" > Leon Gerber (acting)</span> </th>
      <th style="background-color:#e2e0db; text-align: center" (click)="showMe(37)" data-toggle="modal" data-target="#myModal">Field Service Enablement <br><span style="font-weight: normal;" > Des Poulter</span> </th>
    </tr>
    <tr>
        <td style="text-align: center" (click)="showMe(3)" data-toggle="modal" data-target="#myModal">

            <div class="title"> <b>Strategic Solutions</b> </div>
            <div class="sub">  Michael Barnard </div>
       </td>
      <td style="text-align: center" (click)="showMe(8)" data-toggle="modal" data-target="#myModal">
          <div class="title"> <b>Digital Transformation</b> </div>
          <div class="sub">  Karen Luyt </div>
       </td> 
      <td style="text-align: center" (click)="showMe(18)" data-toggle="modal" data-target="#myModal">
          <div class="title"> <b>SAP CoE</b> </div>
          <div class="sub"> Lucy Mathosa </div>
        </td>
      <td style="text-align: center" (click)="showMe(22)" data-toggle="modal" data-target="#myModal">
          <div class="title"> <b>Smart Municipal</b> </div>
          <div class="sub"> Modise Nyawane </div>
        </td> 
      <td style="text-align: center" (click)="showMe(38)" data-toggle="modal" data-target="#myModal">
          <div class="title"> <b>Presales/Solution Architecture</b> </div>
          <div class="sub"> Karen Luyt </div>
        </td>
    </tr>
    <tr>
        <td style="text-align: center" (click)="showMe(2)" data-toggle="modal" data-target="#myModal">

            <div class="title"> <b>Strategic Solutions</b> </div>
            <div class="sub"> Leon Gerber </div>
        </td>
      <td style="text-align: center" (click)="showMe(9)" data-toggle="modal" data-target="#myModal">
          <div class="title"> <b>Cloud Consulting</b> </div>
          <div class="sub"> Markham Parenzee </div>
        </td> 
      <td style="text-align: center" (click)="showMe(19)" data-toggle="modal" data-target="#myModal">
          <div class="title"> <b>Microsoft CoE</b> </div>
          <div class="sub"> Busi Moale </div>
        </td>
      <td style="text-align: center" (click)="showMe(23)" data-toggle="modal" data-target="#myModal">
          <div class="title"> <b>Smart Retail</b> </div>
          <div class="sub"> Jaco Moolman </div>
        </td> 
      <td style="text-align: center" (click)="showMe(30)" data-toggle="modal" data-target="#myModal">
          <div class="title"> <b>Customer First Centre</b> </div>
          <div class="sub"> Andrina Oliphant </div>
        </td>
    </tr>
    <tr>
        <td style="text-align: center" (click)="showMe(4)" data-toggle="modal" data-target="#myModal">
            <div class="title"> <b>Marketing & Communications</b> </div>
            <div class="sub">  Nikhil Ramlal </div>
        </td>
      <td style="text-align: center" (click)="showMe(10)" data-toggle="modal" data-target="#myModal">
          <div class="title"> <b>Digital Envision</b> </div>
          <div class="sub"> Fazel Ally</div>
        </td> 
      <td style="text-align: center" (click)="showMe(20)" data-toggle="modal" data-target="#myModal">
          <div class="title"> <b>Oracle CoE</b> </div>
          <div class="sub"> Busi Moale </div>
        </td>
      <td style="text-align: center" (click)="showMe(24)" data-toggle="modal" data-target="#myModal">
          <div class="title"> <b>Smart Monitoring</b> </div>
          <div class="sub"> Shamalan Soobiah </div>
        </td> 
      <td style="text-align: center" (click)="showMe(31)" data-toggle="modal" data-target="#myModal">
          <div class="title"> <b>Service Management</b> </div>
          <div class="sub"> Frans Basson </div>
        </td>
    </tr>
    <tr>
        <td style="text-align: center" (click)="showMe(5)" data-toggle="modal" data-target="#myModal">

            <div class="title"> <b>Commercial</b> </div>
            <div class="sub">  Willem Stigling </div>
        </td>
      <td style="text-align: center" (click)="showMe(11)" data-toggle="modal" data-target="#myModal">
          <div class="title"> <b>Digital Development</b> </div>
          <div class="sub"> Liziwe Maseko </div>
        </td> 
      <td style="text-align: center;" (click)="showMe(21)" data-toggle="modal" data-target="#myModal">
          <div class="title"> <b>Application Outsource</b> </div>
          <div class="sub"> Shamalan Soobiah </div>
        </td>
      <td style="text-align: center;" (click)="showMe(25)" data-toggle="modal" data-target="#myModal">
          <div class="title"> <b>Smart IoT</b> </div>
          <div class="sub"> Louis van Wyk </div>
        </td> 
      <td style="text-align: center" (click)="showMe(32)" data-toggle="modal" data-target="#myModal">
          <div class="title"> <b>Cloud and Infrastructure Services</b> </div>
          <div class="sub"> Seelan Thathiah </div>
        </td>
    </tr>
    <tr>
        <td style="text-align: center" (click)="showMe(1)" data-toggle="modal" data-target="#myModal">

            <div class="title"> <b>Executive Assistance</b> </div>
            <div class="sub">  Sibongile Raikane </div>
        </td>
      <td style="text-align: center" (click)="showMe(12)" data-toggle="modal" data-target="#myModal">
          <div class="title"> <b>Embedded Integration</b> </div>
          <div class="sub"> Trevlyn Chetty </div>
        </td> 
      <td></td>

      <td style="text-align: center;" (click)="showMe(26)" data-toggle="modal" data-target="#myModal">
          <div class="title"> <b>BCX Secure</b> </div>
          <div class="sub"> Aurelien Duarte </div>
        </td> 
      <td style="text-align: center" (click)="showMe(33)" data-toggle="modal" data-target="#myModal">
          <div class="title"> <b>Monitoring CoE</b> </div>
          <div class="sub"> Neil Claassens </div>
        </td>
    </tr>
    <tr>
      <td></td>
      <td style="text-align: center" (click)="showMe(14)" data-toggle="modal" data-target="#myModal">
          <div class="title"> <b>Digital Innovation</b> </div>
          <div class="sub"> Vikash Ramharuk </div>
          
        </td>
      <td></td>
      <td style="text-align: center" (click)="showMe(27)" data-toggle="modal" data-target="#myModal">
          <div class="title"> <b>BCX Octane</b> </div>
          <div class="sub"> Deon Jacobs </div>
        </td> 
      <td style="text-align: center" (click)="showMe(34)" data-toggle="modal" data-target="#myModal">
          <span><div class="title"> <b>Intergr8</b> </div>
          <div class="sub"> Jan Roux </div></span>
        </td>
      </tr>
      <tr>
          <td></td>
           <td style="text-align: center">
          <div class="title"> </div>
          <div class="sub">  </div>

        </td> 
          <td></td>
          <td style="text-align: center" (click)="showMe(28)" data-toggle="modal" data-target="#myModal">
              <div class="title"> <b>Smart Payroll</b> </div>
              <div class="sub"> Daleen Meinhardt </div>
            </td> 
          <td style="text-align: center" (click)="showMe(35)" data-toggle="modal" data-target="#myModal">
              <div class="title"> <b>Internal IT Operations</b> </div>
              <div class="sub"> Ettiene Oosthuizen </div>
            </td>
          </tr>
          <tr>
              <td></td>
              <td></td> 
              <td></td>
              <td></td> 
              <td style="text-align: center" (click)="showMe(36)" data-toggle="modal" data-target="#myModal">
                  <div class="title"> <b>Coastal Operations</b> </div>
                  <div class="sub"> Sam Roy </div>
                </td>
              </tr>
  </table>


<!-- Modal  -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
       
         <!-- zanele's content here-->
                      
             
              <div class="card">
                

                          <div class="card hovercard">
                          <div class="cardheader">

                           </div>
                        
                              <div class="avatar">
                                  <img alt="" src="{{cardprofile.imageUrl}}">
                              </div>
                              <div *ngIf = "cardprofile" class="info">
                                  <div class="title">
                                      <p>{{cardprofile.department}}</p>
                                  </div>
                                  <div class="desc"><b>{{cardprofile.name}}</b><br></div>
                                  <div class="desc">{{cardprofile.description}}</div>
                                  <br>
                                  <div class="desc"></div>
                                  <div class="desc"></div>
                                  <div *ngIf = "cardprofile.alternate.name !== ''" class="desc">
                                    <br><span><u>Alternate Contact</u>:</span>
                                    <span><b>
                                    {{cardprofile.alternate.name}}</b>
                                  </span><br>
                                  <span>
                                    {{cardprofile.alternate.description}}
                                  </span>
                                </div>
                              </div>
                              <div class="bottom">
                                 
                              </div>
                          </div>

              </div>     
              
              



      
        <div class="modal-footer">
          <button id="modal-close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

  </div>
</body>
