
<body>
  <h2 style="text-align: center; font-size: 20; padding-top: 2%" >ITS Leadership Structure</h2>

  <br><br><br>

  <table style="width:100%">
    <tr>
      <td></td>
      <td></td> 
      <td style="background-color:lavender">Vish Rajpal</td> 
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td> 
      <td></td>
      <td></td> 
      <td></td>
    </tr>
    <tr>
      <th style="background-color:lavenderblush">Strategic Solutions</th>
      <th style="background-color:lavender">Digital edge</th> 
      <th style="background-color:lavenderblush">Enterprise Application Solutions</th>
      <th style="background-color:lavender">Specialized Solutions</th> 
      <th style="background-color:lavenderblush">Cloud and Infrustructure</th>
    </tr>
    <tr>
      <td style="background-color:lavender">Michael Barnard</td>
      <td style="background-color:lavenderblush">Karen Luyt</td> 
      <td style="background-color:lavender">Lucy Mathosa</td>
      <td style="background-color:lavenderblush">Modise Nyawane</td> 
      <td style="background-color:lavender">Karen Luyt</td>
    </tr>
    <tr>
      <td style="background-color:lavenderblush">Leon Gerber</td>
      <td style="background-color:lavender">Markham Pranzee</td> 
      <td style="background-color:lavenderblush">Busi Moale</td>
      <td style="background-color:lavender">Jaco Moolman</td> 
      <td style="background-color:lavenderblush">Andrina Oliphant</td>
    </tr>
    <tr>
      <td style="background-color:lavender">Nikhli Ramlal</td>
      <td style="background-color:lavenderblush">Fazel Alley</td> 
      <td style="background-color:lavender">Busi Moale</td>
      <td style="background-color:lavenderblush">Shamalan Soobiah</td> 
      <td style="background-color:lavender">Frans Basson</td>
    </tr>
    <tr>
      <td style="background-color:lavenderblush">Willem Stigling</td>
      <td style="background-color:lavender">Liziwe Maseko</td> 
      <td style="background-color:lavenderblush">Shamalan Soobiah</td>
      <td style="background-color:lavender">Louis van Wyk</td> 
      <td style="background-color:lavenderblush">Seelan tdatiah</td>
    </tr>
    <tr>
      <td style="background-color:lavender">Sibongile Raikone</td>
      <td style="background-color:lavenderblush">Trevlyn Chetty</td> 
      <td></td>
      <td style="background-color:lavenderblush">Aurelien Duarte</td> 
      <td style="background-color:lavender">Neil Classens</td>
    </tr>
    <tr>
      <td style="background-color:lavenderblush">Diamond executives: Vacant</td>
      <td style="background-color:lavender">Stefan Steffanus</td> 
      <td></td>
      <td style="background-color:lavender">Deon Jacobs</td> 
      <td style="background-color:lavenderblush">Jan Roux</td>
    </tr>
    <tr>
      <td></td>
      <td style="background-color:lavenderblush">Digital Innovation: vacant</td>
      <td></td>
      <td style="background-color:lavenderblush">Daleen Meinhardt</td> 
      <td style="background-color:lavender">Ettiene Oosthuizen</td>
    </tr>
    <tr>
      <td></td>
      <td style="background-color:lavender">RPA CoE: vacant</td>
      <td></td>
      <td></td> 
      <td style="background-color:lavenderblush">Sam Roy</td>
    </tr>
    <tr>
      <td></td>
      <td style="background-color:lavenderblush">Digital Incubation: vacant</td>
      <td></td>
      <td></td> 
      <td></td>
    </tr>
  </table>
</body>
