.nav-button {
	width: 80%;
	border: 1px solid #E21E2A;
	height: 200px;
}

.top-banner {

	top: 0 px;
	height: 200px;
	background-color: #E21E2A;
}

.bottom-banner {

	top: 0 px;
	height: 200px;
	background-color: #E21E2A;
}