.nav-button {
	width: 80%;

	height: 200px;
}

.top-banner {

	overflow: hidden;
	height: 18%;
	background-color: #E21E2A;

}


.bottom-banner {

overflow: hidden;
margin-top: 10px;
margin-bottom: 20px;

}

.whole-page {
	background-color: black;
	margin-bottom: 0%;
}

.quote {
		padding-bottom: 4%;
}

.quote h2 {
	padding-top: 4%;
	color: white;
	font-size: 3vw;


}

.ref {
	color : white;
	font-size: 3vw;
	
}