<div class="container-fluid top-banner">
	<div class="col">
		<span class="quote">
			<h2>
			This is a really awesome quote !
		</h2>	
		<span class="ref">
			<small> - Vish Rajpal , Chief of IT Solutions</small>
		</span>
		</span>
		
	</div>	
</div>

<div class="container-fluid whole-page">

	<div class="row justify-content-center">
		<div class="col-4">
			<div class="embed-responsive embed-responsive-16by9" style="width: 110%; padding-right: : 100px;">
	  			
				<video width="320" height="240" controls>
				  <source src="https://s3.us-east-2.amazonaws.com/bcxgallery/Bounce+-+Opening+AV.mp4" type="video/mp4">
				
				</video>
			</div>		
		</div>
		<div class="col-3"></div>
		<div class="col-4">

			<div class="embed-responsive embed-responsive-16by9" style="width: 110%;  ">
	  			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen ></iframe>
			</div>

		</div>
		
	</div>
</div>

<div class="container-fluid bottom-banner">
	<div class="row"> 
		<div class="col-4 hello">
			<h2>Maybe a nice and short Hello</h2>
		</div>
		<div class="col-8">
			Maybe not ...  <br>
			Picture a future of smart cities, automated processes, and digitised services and functionality, that will all be made possible by the Internet of Things (IoT). As your Internet of Things (IoT) partner, BCX will walk the journey to the future with you – from identifying an opportunity, to developing services and products as solutions to challenges, and everything in between. So whether you need to optimise your people, your processes or your physical environment, we will help you evaluate what is needed and implement a solution. <br>

We enable digitisation, automation, and analytics so that you can make real-time decisions and enable new and fundamental business processes through what we call a Connective Intelligence.
<br>
We bundle our IoT know-how, connectivity solutions, engineering skills, and business optimisation solutions, to ensure high quality, robust delivery – from design to implementation – no matter what sector or environment your business operates in.
<br>
BCX approaches the technology and digitalisation of systems or products in a very structured way, so that we can maximise your return on investment. So we will take a project from the initial exploration sessions that assess the business and its opportunities, right through evaluation and specification, to solution design, execution, and maintenance.
		</div>
	
	</div>

</div>